<div class="title-wrapper">
    <div class="title-container">
      <h1>Tech Talker Blog</h1>
    </div>
</div>

<section>
  <div class="form-container">
    <div class="title">Sign Up</div>
    <form class="signup-form">
      <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Sign Up!</button>
      </div>
      <a href="/login">Login Instead</a>
    </form>
  </div>
</section>

<script src="/javascript/signup.js"></script>