<div class="title-wrapper">
    <div class="title-container">
      <h1>Post Page</h1>
    </div>
</div>

<section>
{{> post-info post}}
{{#if loggedIn}}
<div class="form-container">
  <div class="title"></div>
  <form class="comment-form">
    <div>
      <span>Comment</span>
      <textarea name="comment-body"></textarea>
    </div>
    <div>
      <button type="submit">Add Comment</button>
    </div>
  </form>
</div>
{{/if}}
<div class="comments-title">
  <h3>Comments</h3>
</div>
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
</section>